ul{
     list-style: none;
    font-family: cursive;
    position: fixed;
    top: 5px;
    right: 30px;
    cursor:pointer;
    color: black;
}
li{
    float: left;
    color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 300;
    font-size: 25px;
}
li:hover{
    background-color: blanchedalmond;
}
#app{
    height: 650px;
}
#games{
    height: 650px;
}
#chatbot{
    height: 600px;
    text-align: center;
}

.image-section {
	  display: flex;
	  justify-content: center;
	}

	.section-style {

	  margin-right: 25px;
	  margin-left: 25px;
	
		background-color: white;
    
	}
p{
    text-align: center;
    font-size: 20px;
}
h1{
    text-align: left;
}
img:hover{
    transform: scale(0.9);
}